body {
    background-color: rgba(0, 0, 0, 0.847);
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text-w {
    color: white;
}

.wrap {
    width: 100%;
    height: 100vh;
}

.b-card-wrap {
    width: 100%;
    height: 100%;
    /* max-width: 1250px; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.b-card {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px white solid;
    border-radius: 10px;
    margin: 20px;
}

.party-on {
    color: green;
}

.party-off {
    color: grey;
}

.b-card-banner {
    width: 100%;
    height: 40px;
    background-color: rgb(125, 125, 125);
    border-radius: 10px;
    overflow: hidden;
}

.member-icon {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

.party-btn {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #ffbd03;
    border: none;
}

.party-set {
    border: 4px solid red;
}
.b-modal-wrap {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    display: none;
}

.b-modal {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    padding: 3px;
}

.submit-date {
    width: 100%;
    height: 60px;
    background-color: #E01D5A;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.submit-input {
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

.submit-ul > li {
    margin: 5px;
}

.submit-btn {
    width: 100%;
    height: 50px;
    background-color: #ffbd03;
    border-radius: 27px;
    border: none;
}

.party-color-1 {
    width: 30px;
    height: 30px;
    background-color: #33b249;
    border-radius: 50%;
    margin: 5px;
}
.party-color-2 {
    width: 30px;
    height: 30px;
    background-color: #4681f4;
    border-radius: 50%;
    margin: 5px;
}
.party-color-3 {
    width: 30px;
    height: 30px;
    background-color: #80669d;
    border-radius: 50%;
    margin: 5px;
}
.party-color-4 {
    width: 30px;
    height: 30px;
    background-color: rgb(178, 68, 51);
    border-radius: 50%;
    margin: 5px;
}
.party-color-5 {
    width: 30px;
    height: 30px;
    background-color: #dd7973;
    border-radius: 50%;
    margin: 5px;
}
.color-1 {
    background-color: #33b249;
    border-radius: 50%;
    margin: 5px;
}
.color-2 {
    background-color: #4681f4;
    border-radius: 50%;
    margin: 5px;
}
.color-3 {
    background-color: #80669d;
    border-radius: 50%;
    margin: 5px;
}
.color-4 {
    background-color: rgb(178, 68, 51);
    border-radius: 50%;
    margin: 5px;
}
.color-5 {
    background-color: #dd7973;
    border-radius: 50%;
    margin: 5px;
}

.activate {
    background-color: #E01D5A;
}

.popover {
    max-width: 200px;
  }
  
.member-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;

    vertical-align: middle;
}

.p-modal-wrap {
    width: 100vw;
    height: 100vh;
    background-color: #dee2e6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    display: none;
}

.p-modal {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
}

.p-modal-desc {
    width: 80%;
    word-break: keep-all;
}

@media (max-width: 400px) {
    .member-name {
        font-size: 15px;
    }
    .p-modal > p {
        font-size: 13px;
    }
    .p-modla > button {
        font-size : 13px
    }    
}
  